@import url('../bower_components/bootstrap/dist/css/bootstrap.min.css');
@import url('../vendor/font-awesome/css/font-awesome.min.css');
@import url('../vendor/FlexiJsonEditor-master/jsoneditor.css');
/* This padding stops the navbar from being on top of the page content */
body {
  padding-top: 70px;
}
span.abusix {
  color: #6099C7;
}
.navbar-brand {
  font-weight: bold;
  font-size: 31px;
}
.truncate-string-with-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}
.resource-list .json-editor .item.appender {
  display: none;
}
.json-editor .value {
  max-width: 100%;
  width: 720px;
}
.main-loading-spinner {
  font-size: 100px;
  text-align: center;
}
.resource-list {
  padding: 0;
  list-style-type: none;
}
.resource-list .resource-item {
  padding: 5px;
  margin-bottom: 3px;
  border-bottom: 1px solid #dddddd;
  /* To avoid margin collapse */
}
.resource-list .resource-item:last-child {
  border-bottom: none;
}
.resource-list .resource-item table {
  margin-bottom: 0px;
}
.resource-list .resource-item .resource-heading .show-hide-resource-control,
.resource-list .resource-item .resource-heading .list-operations-resource-control {
  border-right: 1px solid #dddddd;
  padding-right: 5px;
}
.resource-list .resource-item .resource-heading h2 {
  font-size: 16px;
  font-weight: 900;
  margin-top: 9px;
}
.resource-list .resource-item .resource-heading .resource-description {
  color: grey;
}
.resource-list .resource-item .interface-list-container {
  display: none;
  background-color: aliceblue;
}
.resource-list .resource-item .interface-list-container .interface-list {
  padding: 0;
  list-style-type: none;
  /* Remove margin from the first to avoid margin collapse*/
}
.resource-list .resource-item .interface-list-container .interface-list .interface-method-header {
  padding: 5px;
  cursor: pointer;
}
.resource-list .resource-item .interface-list-container .interface-list .interface-element {
  margin-top: 8px;
}
.resource-list .resource-item .interface-list-container .interface-list .interface-element .path-parameter-required {
  color: red;
}
.resource-list .resource-item .interface-list-container .interface-list .interface-element .request-list {
  padding-right: 40px;
  padding-left: 40px;
  list-style-type: none;
}
.resource-list .resource-item .interface-list-container .interface-list .interface-element .response-list {
  padding-right: 40px;
  padding-left: 40px;
  list-style-type: none;
}
.resource-list .resource-item .interface-list-container .interface-list .interface-element:first-child {
  margin-top: 0px;
}
.resource-list .resource-item .interface-list-container .interface-list .interface-element-GET .resource-interface-description,
.resource-list .resource-item .interface-list-container .interface-list .interface-element-GET h4,
.resource-list .resource-item .interface-list-container .interface-list .interface-element-GET h5 {
  color: #10a54a;
}
.resource-list .resource-item .interface-list-container .interface-list .interface-element-POST .resource-interface-description,
.resource-list .resource-item .interface-list-container .interface-list .interface-element-POST h4,
.resource-list .resource-item .interface-list-container .interface-list .interface-element-POST h5 {
  color: #0f6ab4;
}
.resource-list .resource-item .interface-list-container .interface-list .interface-element-DELETE .resource-interface-description,
.resource-list .resource-item .interface-list-container .interface-list .interface-element-DELETE h4,
.resource-list .resource-item .interface-list-container .interface-list .interface-element-DELETE h5 {
  color: #a41e22;
}
.resource-list .resource-item .interface-list-container .interface-list .interface-element-PUT .resource-interface-description,
.resource-list .resource-item .interface-list-container .interface-list .interface-element-PUT h4,
.resource-list .resource-item .interface-list-container .interface-list .interface-element-PUT h5 {
  color: #c5862b;
}
.resource-list .resource-item .interface-list-container .interface-list h5 .body-schema-description {
  color: grey;
}
.resource-list .resource-item .interface-list-container .interface-list .label-POST {
  background-color: #0f6ab4;
}
.resource-list .resource-item .interface-list-container .interface-list .label-GET {
  background-color: #10a54a;
}
.resource-list .resource-item .interface-list-container .interface-list .label-DELETE {
  background-color: #a41e22;
}
.resource-list .resource-item .interface-list-container .interface-list .label-PUT {
  background-color: #D38042;
}
.resource-list .resource-item .interface-list-container .interface-list .POST-header {
  background-color: #e7f0f7;
  border: 1px solid #c3d9ec;
}
.resource-list .resource-item .interface-list-container .interface-list .GET-header {
  background-color: #e7f6ec;
  border: 1px solid #c3e8d1;
}
.resource-list .resource-item .interface-list-container .interface-list .DELETE-header {
  background-color: #f5e8e8;
  border: 1px solid #e8c6c7;
}
.resource-list .resource-item .interface-list-container .interface-list .PUT-header {
  background-color: #f9f2e9;
  border: 1px solid #f0e0ca;
}
.resource-list .resource-item .interface-list-container .interface-list .interface-details-container {
  display: none;
}
